/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }

}
@media (max-width: 576px) {
    .chartbox {
        width:90%;
        height:45% 
    }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* Fonts */ 

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand:wght@500&display=swap');

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: 'Quicksand', sans-serif !important;    
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    }

p, .p {
    font-family: 'DM Sans', sans-serif;
}


.dark-green-background {
    background-image: url('./Tree.png'), url('./TreeLeft.png'); 
    background-position: 83% 100%, 0% 100%; 
    background-repeat: no-repeat; 
    background-color: #14341c;
    background-size: 200px, 125px;
}

.fa-arrow-circle-up {
    color: #46b863; 
} 

button, .button, .btn {
    background-color: #6aa4c8ff;
    color: white 
}

.navbar {
    background-color: #14341c;
    color: white
}